<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="actorObject1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Mahesh babu" type="java.lang.String" />
        <constructor-arg name="gender" value="Male" type="java.lang.String" />
        <constructor-arg name="age" value="45" type="int"/>
    </bean>

    <bean id="actorObject2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Allu Arjun" type="java.lang.String" />
        <constructor-arg name="gender" value="Male" type="java.lang.String" />
        <constructor-arg name="age" value="37" type="int"/>
    </bean>

    <bean id="actorObject3" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Rakul" type="java.lang.String" />
        <constructor-arg name="gender" value="Female" type="java.lang.String" />
        <constructor-arg name="age" value="33" type="int"/>
    </bean>


    <bean id="movie" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" ref="actorObject3" />
    </bean>

    <bean id="demo" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy" >
    </bean>
</beans>